<div class="container">
  <h2>Student Registration Form</h2>
  <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="student.name" required minlength="4">
      <div *ngIf="registrationForm.controls['name'].invalid && (registrationForm.controls['name'].dirty || registrationForm.controls['name'].touched)" class="text-danger">
        Name is required and must be at least 4 characters.
      </div>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age:</label>
      <input type="number" class="form-control" id="age" name="age" [(ngModel)]="student.age" required min="10" max="17">
      <div *ngIf="registrationForm.controls['age'].invalid && (registrationForm.controls['age'].dirty || registrationForm.controls['age'].touched)" class="text-danger">
        Age is required and must be between 10 and 17.
      </div>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address:</label>
      <select class="form-control" id="address" name="address" [(ngModel)]="student.address" required>
        <option value="">Select Address</option>
        <option value="Alex">Alex</option>
        <option value="Cairo">Cairo</option>
        <option value="Giza">Giza</option>
      </select>
      <div *ngIf="registrationForm.controls['address'].invalid && (registrationForm.controls['address'].dirty || registrationForm.controls['address'].touched)" class="text-danger">
        *
      </div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone Number:</label>
      <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="student.phone" required pattern="01[0125][0-9]{8}">
      <div *ngIf="registrationForm.controls['phone'].invalid && (registrationForm.controls['phone'].dirty || registrationForm.controls['phone'].touched)" class="text-danger">
        Phone number is required and must be a valid Egyptian mobile number (010, 011, 012, or 015) with 11 digits.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr>


  <h2>Students</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of registeredStudents; let i = index">
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.address }}</td>
        <td>{{ student.phone }}</td>
        <td>
          <button class="btn btn-danger" (click)="removeStudent(i)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
