<div class="container">
  <h2>Student Registration Form</h2>
  <form (submit)="sendValues()">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" name="fname" [(ngModel)]="name" required minlength="4"
       [ngClass]="{
        'is-valid': NameValidation,
        'is-invalid': !NameValidation && NameTouched
      }">

      <div class="valid-feedback">Done</div>
      <div class="invalid-feedback">Name is required and must be at least 4 characters.</div>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age:</label>
      <input type="number" class="form-control" id="age" name="age" [(ngModel)]="age" required min="10" max="17"
      [ngClass]="{
        'is-valid': AgeValidation,
        'is-invalid': !AgeValidation && AgeTouched
      }">

      <div class="valid-feedback">Done</div>
      <div class="invalid-feedback">Age is required and must be between 10 and 17.</div>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address:</label>
      <select class="form-control" id="address" name="address" [(ngModel)]="address" required>
        <option value="">Select Address</option>
        <option value="Alex">Alex</option>
        <option value="Cairo">Cairo</option>
        <option value="Giza">Giza</option>
      </select>
      <div class="valid-feedback">Done</div>
      <div class="invalid-feedback">*</div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone Number:</label>
      <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="phone" required pattern="01[0125][0-9]{8}"
      [ngClass]="{
        'is-valid': PhoneValidation,
        'is-invalid': !PhoneValidation && PhoneTouched
      }">
      <div class="valid-feedback">Done</div>
      <div class="invalid-feedback">Phone number is required and must be a valid Egyptian mobile number (010, 011, 012, or 015) with 11 digits.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr>


  <h2>Students</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of Students; let i = index">
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.address }}</td>
        <td>{{ student.phone }}</td>
        <td>
          <button class="btn btn-danger" (click)="removeStudent(i)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
